[Unit]
Description=Videopavio Server
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/videopavio/
#Environment=XAUTHORITY=/home/pi/.Xauthority
Environment="DISPLAY=:0.0"
ExecStart=/usr/bin/python /home/pi/videopavio/server/server.py > /home/pi/videopavio/videopavio_server.log
Restart=always

[Install]
WantedBy=multi-user.target
