[Unit]
Description=Videopavio GPIO Sensor Service
DefaultDependencies=false
After=multi-user.target

[Service]
Type=simple
User=pi
Environment=Display=:0.0
WorkingDirectory=/home/pi/videopavio/
ExecStart=/usr/bin/python /home/pi/videopavio/server/gpiozero_sensor.py
Restart=always

[Install]
WantedBy=multi-user.target
